extends layout

block content
	h1 My Progress
		each val, index in progressData
			h2 Language Conversion: #{index}
			h2 Quizzes:
				ul
					li Total Number of quizzes: #{val.totalQuizzes}
					li Percentage Passed: #{val.percentagePassed}%
					li Passed Quizzes: #{val.passedQuizzes}
						//- if passedQuizzes
						//- 	ul
						//- 		for quiz in quizzes
						//- 			li quiz
					li Failed Quizzes: #{val.failedQuizzes}
						//- if failedQuizzes
						//- 	ul
						//- 		for quiz in failedQuizzes
						//- 			li quiz
			h2 Words:
				ul
					li Total Number of Words: #{val.totalWords}
					li Percentage Correctly Translated: #{val.percentageWords}%
					li Correctly Translated Words: #{val.correctWordsCount}
					//- li My Best Words:
						//- if bestWords
						//- 	ul
						//- 		for word in val.bestWords
						//- 			li=word.word
					
					li Incorrectly Translated Words: #{val.failWordsCount}
					//- li My Worst Words:
						//- if worstWords
						//- 	ul
						//- 		for word in worstWords
						//- 			li=word.word
				

	a.go-home(href="/"): button Return Home
	button#reset-progress Reset my progress