extends layout 

block content
	h1 Quiz Page
	h4 #nailit

	.getQuiz
		input(type="text" name="quizFromLanguage" placeholder="Translate From")
		input(type="text" name="quizToLanguage" placeholder="Translate To")

		button#get-quiz Get Quiz
		button#get-best-quiz Create Top 10 Quiz
		button#get-worst-quiz Create Worst 10 Quiz
	
	.quizContainer
		p Question #
			span#q-count
		h3#q-word
		h5#q-from-lang
		input#q-guess(type="text" name="quizAnswer")
		button#submit-answer Submit
		
		.responseContainer
			p#a-response
			button#next-question Next Question

			button#restart-quiz New Quiz
			
	a.go-home(href="/"): button Return Home


	.summaryContainer
		h2 Your Quiz Summary
		h3#pass-fail HIIIIII
		h4#pass-fail-sub

		div.summary
			ul
				//- for question in questions
				//- 	li
				//- 		h3 Translate from: #{question.fromLang}
				//- 		h3 Translate to: #{question.toLang}
				//- 		h4 Starting Word #{question.q-word}
				//- 		h5 You're Answer #{question.q-guess}
				//- 		if question.correct && !question.correction
				//- 			h4 Correct!
				//- 		else if question.correct
				//- 			h4 Correct!
				//- 			p Be careful, watch this tiny mistake!
				//- 				p=correction
				//- 		else
				//- 			h4 Incorrect
				//- 			p The correct answer was #{correct}
